<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About | page</title>
    <link rel="stylesheet" href="../styles/style.css" />
    <link rel="stylesheet" href="../styles/about.css" />
    <link rel="stylesheet" href="../styles/footer.css" />
    <script defer src="../app.js"></script>
    <script
      src="https://kit.fontawesome.com/c046d5c77d.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <!-- Nav bar -->
    <header class="header">
      <img
        src="../Assets/hotel4.svg"
        style="width: 100px"
        alt="nav logo"
        class="logo"
      />
      <button
        class="btn mobile_nav_control"
        aria-controls="primary_nav_control"
        aria-expanded="false"
      ></button>

      <nav class="nav">
        <ul class="primary_nav_control nav_links flex1" data-visible="false">
          <li class="active nav_list">
            <a href="#" id="section--1" class="nav_link">Home</a>
          </li>
          <li class="nav_list">
            <a href="../components/About.html" id="section--2" class="nav_link"
              >About</a
            >
          </li>
          <li class="nav_list">
            <a
              href="../components/contactus.html"
              id="section--3"
              class="nav_link"
              >Contact</a
            >
          </li>
          <li class="nav_list">
            <a
              href="../components/booknow.html"
              id="section--4"
              class="nav_link"
              >Book Now</a
            >
          </li>
        </ul>
      </nav>
    </header>

    <!-- About section -->
    <section class="section--1 flex">
      <h2 class="sec-1-hero-title">About Us</h2>

      <div class="wrapper-container">
        <div class="main--content grid">
          <div class="section-col-1 col-1">
            <h3 class="sec-1-title">Our History</h3>
            <p class="sec-1-para">welcome to Hotel</p>
            <p class="sec-1-big-para">
              Lorem ipsum dolor sit Lorem, ipsum dolor sit amet consectetur
              adipisicing elit. Fuga, et! amet consectetur adipisicing elit.
              Doloribus molestiae doloremque iste distinctio, eos animi.
            </p>
            <p class="sec-1-big-para">
              Lorem ipsum dolor sit Lorem, ipsum dolor sit amet consectetur
              adipisicing elit. Fuga, et! amet consectetur adipisicing elit.
              Doloribus molestiae doloremque iste distinctio, eos animi.
            </p>
            <p class="sec-1-big-para">
              Lorem ipsum dolor sit Lorem, ipsum dolor sit amet consectetur
              adipisicing elit. Fuga, et! amet consectetur adipisicing elit.
              Doloribus molestiae doloremque iste distinctio, eos animi.
            </p>
          </div>
          <div class="section-col-2 col-2">
            <div class="first_img sec1img">
              <img
                src="http://unsplash.it/200/250?image=563"
                alt=""
                class="sec-1-image1 sec-1_img"
              />
            </div>

            <div class="second_img sec1img">
              <img
                src="http://unsplash.it/200/250?image=566"
                alt=""
                class="sec-1-image2 sec-1_img"
              />
            </div>
          </div>
        </div>
      </div>
      <footer>
        <ul>
          <li class="icons-list">
            <a href="#" class="links1">
              <i class="fab fa-facebook"></i>
            </a>
            <a href="#" class="links2">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="#" class="links3">
              <i class="fab fa-github"></i>
            </a>
          </li>
        </ul>
      </footer>
    </section>
    <!-- About section End -->
  </body>
</html>
