<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../styles/contactData.css" />
  </head>
  <body>
    <div class="table_container">
      <h2 class="table_title">User data</h2>
      <table>
        <colgroup>
          <col span="1" style="background-color: rgb(216, 88, 233)" />
        </colgroup>
        <tr>
          <th class="font border table_header table_header--1">Id</th>
          <th class="font border table_header table_header--2">First Name</th>
          <th class="font border table_header table_header--3">Last Name</th>
          <th class="font border table_header table_header--4">Full Nam</th>
          <th class="font border table_header table_header--5">Gender</th>
          <th class="font border table_header table_header--6">Email</th>
          <th class="font border table_header table_header--7">Phone</th>
          <th class="font border table_header table_header--8">No of Guest</th>
          <th class="font border table_header table_header--9">District</th>
          <th class="font border table_header table_header--10">State</th>
          <th class="font border table_header table_header--11">House no</th>
          <th class="font border table_header table_header--12">No of Days</th>
          <th class="font border table_header table_header--13">
            No of Nights
          </th>
          <th class="font border table_header table_header--14">Entry date</th>
          <th class="font border table_header table_header--15">
            Dispatch date
          </th>
        </tr>
        <tr>
          <td class="table_color font border tabel_data">1</td>
          <td class="table_color font border tabel_data">one</td>
          <td class="table_color font border tabel_data">two</td>
          <td class="table_color font border tabel_data">thre</td>
          <td class="table_color font border tabel_data">four</td>
          <td class="table_color font border tabel_data">five</td>
          <td class="table_color font border tabel_data">six</td>
          <td class="table_color font border tabel_data">seven</td>
          <td class="table_color font border tabel_data">eigth</td>
          <td class="table_color font border tabel_data">nine</td>
          <td class="table_color font border tabel_data">ten</td>
          <td class="table_color font border tabel_data">elaven</td>
          <td class="table_color font border tabel_data">twelve</td>
          <td class="table_color font border tabel_data">thirteen</td>
          <td class="table_color font border tabel_data">fourteen</td>
        </tr>
        <tr>
          <td class="table_color font border tabel_data">1</td>
          <td class="table_color font border tabel_data">one</td>
          <td class="table_color font border tabel_data">two</td>
          <td class="table_color font border tabel_data">thre</td>
          <td class="table_color font border tabel_data">four</td>
          <td class="table_color font border tabel_data">five</td>
          <td class="table_color font border tabel_data">six</td>
          <td class="table_color font border tabel_data">seven</td>
          <td class="table_color font border tabel_data">eigth</td>
          <td class="table_color font border tabel_data">nine</td>
          <td class="table_color font border tabel_data">ten</td>
          <td class="table_color font border tabel_data">elaven</td>
          <td class="table_color font border tabel_data">twelve</td>
          <td class="table_color font border tabel_data">thirteen</td>
          <td class="table_color font border tabel_data">fourteen</td>
        </tr>
        <tr>
          <td class="table_color font border tabel_data">1</td>
          <td class="table_color font border tabel_data">one</td>
          <td class="table_color font border tabel_data">two</td>
          <td class="table_color font border tabel_data">thre</td>
          <td class="table_color font border tabel_data">four</td>
          <td class="table_color font border tabel_data">five</td>
          <td class="table_color font border tabel_data">six</td>
          <td class="table_color font border tabel_data">seven</td>
          <td class="table_color font border tabel_data">eigth</td>
          <td class="table_color font border tabel_data">nine</td>
          <td class="table_color font border tabel_data">ten</td>
          <td class="table_color font border tabel_data">elaven</td>
          <td class="table_color font border tabel_data">twelve</td>
          <td class="table_color font border tabel_data">thirteen</td>
          <td class="table_color font border tabel_data">fourteen</td>
        </tr>
      </table>
    </div>
  </body>
</html>
