<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/c046d5c77d.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="../styles/contactus.css" />
    <link rel="stylesheet" href="../styles/style.css" />
    <link rel="stylesheet" href="../styles/footer.css" />
    <!-- <link rel="stylesheet" href="../booknow.css" /> -->
    <script defer src="../app.js"></script>
    <title>Contact | us</title>
  </head>
  <body>
    <div class="wrapper_container">
      <!-- Nav bar -->
      <header class="header">
        <img
          src="../Assets/hotel4.svg"
          style="width: 100px"
          alt="nav logo"
          class="logo"
        />
        <button
          class="btn mobile_nav_control"
          aria-controls="primary_nav_control"
          aria-expanded="false"
        ></button>
        <nav>
          <ul class="primary_nav_control nav_links flex1" data-visible="false">
            <li class="active nav_list">
              <a href="#" id="section--1" class="nav_link">Home</a>
            </li>
            <li class="nav_list">
              <a
                href="../components/About.html"
                id="section--2"
                class="nav_link"
                >About</a
              >
            </li>
            <li class="nav_list">
              <a
                href="../components/contactus.html"
                id="section--3"
                class="nav_link"
                >Contact</a
              >
            </li>
            <li class="nav_list">
              <a
                href="../components/booknow.html"
                id="section--4"
                class="nav_link"
                >Book Now</a
              >
            </li>
          </ul>
        </nav>
      </header>
      <!-- form section -->
      <div class="main__content">
        <section class="book__section">
          <div class="main-section">
            <h2 class="book_title">Contact Us</h2>
            <form
              action=""
              class="form form-grid pad_left_right pad_top_bottom"
            >
              <div class="check__in grid">
                <label for="Checkin" name="form_text">First Name</label>
                <input
                  type="text"
                  class="input-area"
                  placeholder="Enter your first name"
                />
              </div>
              <div class="check_out grid">
                <label for="Checkout" name="form_text">Last Name</label>
                <input
                  type="text"
                  class="input-area"
                  placeholder="Enter your last name"
                />
              </div>
              <div class="guest_option grid">
                <label for="Guests" name="form_text">Email</label>
                <input
                  type="email"
                  class="input-area"
                  placeholder="Enter your email"
                />
              </div>
              <div class="room_no grid">
                <label for="Room no" name="form_text">Phone</label>
                <input
                  type="phone"
                  class="input-area"
                  required
                  placeholder="Enter your phone"
                />
              </div>
              <div class="message grid">
                <label for="Room no" name="form_text">Message</label>
                <textarea
                  name="message"
                  placeholder="Message"
                  id=""
                  cols="30"
                  rows="10"
                  class="input-area"
                ></textarea>
              </div>
              <button class="bookBtn">Book Now</button>
            </form>
          </div>
        </section>
      </div>

      <!-- Footer section -->
      <footer>
        <ul>
          <li class="icons-list">
            <a href="#" class="links1">
              <i class="fab fa-facebook"></i>
            </a>
            <a href="#" class="links2">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="#" class="links3">
              <i class="fab fa-github"></i>
            </a>
          </li>
        </ul>
      </footer>
    </div>
  </body>
</html>
