<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../styles/contactInfo.css" />
  </head>
  <body class="body">
    <section class="form_section_flex">
      <div class="area_definer">
        <div class="form_container flex">
          <form action="" class="form_section">
            <div class="input_area">
              <div class="left_col flex_input">
                <label for="firstName">First Name</label>
                <input
                  type="text"
                  name="firstName"
                  id="firstName"
                  placeholder="enter your first name"
                />
              </div>
              <div class="right_col flex_input">
                <label for="firstName">Last Name</label>
                <input
                  type="text"
                  name="lasttName"
                  id="lastName"
                  placeholder="enter your last name"
                />
              </div>
            </div>
            <div class="input_area">
              <div class="left_col flex_input">
                <label for="fullName">Full Name</label>
                <input
                  type="text"
                  name="fullName"
                  id="fullName"
                  placeholder="enter your full name"
                />
              </div>
              <div class="right_col flex_input">
                <label for="gender">Gender</label>
                <!--  <input
                  type="gender"
                  name="lasttName"
                  id="lastName"
                  placeholder="enter your last name"
                /> -->
                <select name="text" id="gender">
                  <option value="Male">Male</option>
                  <option value="Female">Female</option>
                  <option value="Common">Transgend</option>
                </select>
              </div>
            </div>
            <div class="input_area">
              <div class="left_col flex_input">
                <label for="email">Email</label>
                <input
                  type="email"
                  name="email"
                  id="email"
                  placeholder="enter your email"
                />
              </div>
              <div class="right_col flex_input">
                <label for="phone">Phone</label>
                <input
                  type="phone"
                  name="phon"
                  id="phone"
                  placeholder="enter your phone"
                />
              </div>
            </div>
            <div class="input_area">
              <div class="left_col flex_input">
                <label for="noofguest">No of Guest</label>
                <input
                  type="number"
                  name="noofguest"
                  id="noofguest"
                  placeholder="enter no of gurst"
                />
              </div>
              <div class="right_col flex_input">
                <label for="district">District</label>
                <input
                  type="text"
                  name="district"
                  id="district"
                  placeholder="enter your district"
                />
              </div>
            </div>
            <div class="input_area">
              <div class="left_col flex_input">
                <label for="state">States</label>
                <input
                  type="text"
                  name="state"
                  id="state"
                  placeholder="enter the state"
                />
              </div>
              <div class="right_col flex_input">
                <label for="Houseno">House No</label>
                <input
                  type="number"
                  name="houseno"
                  id="houseno"
                  placeholder="enter house no"
                />
              </div>
            </div>
            <div class="input_area">
              <div class="left_col flex_input">
                <label for="noofdays">No Of Days</label>
                <input
                  type="number"
                  name="numberofdays"
                  id="noofdays"
                  placeholder="enter no of days"
                />
              </div>
              <div class="right_col flex_input">
                <label for="noofnights">No of Nights</label>
                <input
                  type="number"
                  name="noofnights"
                  id="noofnights"
                  placeholder="enter no of nights"
                />
              </div>
            </div>
            <div class="input_area">
              <div class="left_col flex_input">
                <label for="checkin">Check in</label>
                <input
                  type="date"
                  name=""
                  id="checkin"
                  placeholder="enter entry date"
                />
              </div>
              <div class="right_col flex_input">
                <label for="checkout">Check out</label>
                <input
                  type="date"
                  name="checkout"
                  id="checkout"
                  placeholder="enter dispatch date"
                />
              </div>
            </div>
            <div class="button_container">
              <button class="btn">Submit</button>
            </div>
          </form>
          <div class="form_info">
            <div class="image_container">
              <img
                class="image"
                src="http://unsplash.it/500/500?image=564"
                alt=""
              />
            </div>
            <div class="contact_info flex_info">
              <p class="contact_label">Check In</p>
              <p class="contact_date">date</p>
            </div>
            <div class="contact_info flex_info">
              <p class="contact_label">Check out</p>
              <p class="contact_date">date</p>
            </div>
            <div class="contact_info flex_info">
              <p class="contact_label">Guests</p>
              <p class="contact_date">3</p>
            </div>
            <div class="contact_info flex_info">
              <p class="contact_label">nights</p>
              <p class="contact_date">4</p>
            </div>
            <div class="contact_info flex_info">
              <p class="contact_label">total Price</p>
              <p class="contact_date">$ 456</p>
            </div>
            <div class="button_container">
              <button class="button btn">Submit</button>
            </div>
            <h4 class="contact_text">
              Lorem ipsum dolor sit amet consectetur.
            </h4>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
