<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../styles/footer.css" />
  </head>
  <body>
    <footer>
      <ul>
        <li class="icons-list">
          <a href="#" class="links1">
            <i class="fab fa-facebook"></i>
          </a>
          <a href="#" class="links2">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="#" class="links3">
            <i class="fab fa-github"></i>
          </a>
        </li>
      </ul>
    </footer>
  </body>
</html>
