<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" href="../styles/gallary.css" />
    <script defer src="../app/app.js"></script>
  </head>
  <body>
    <!-- !section one -->
    <section class="section" id="section--1">
      <div class="grid_container">
        <div class="button__container grid_1">sidebar</div>
        <div class="image__container grid_2">
          <img
            src="http://unsplash.it/400/400?image=453"
            alt="one"
            class="image image1"
          /><img
            src="http://unsplash.it/400/400?image=454"
            alt="two"
            class="image image2"
          /><img
            src="http://unsplash.it/400/400?image=455"
            alt="three"
            class="image image3"
          /><img
            src="http://unsplash.it/400/400?image=457"
            alt="gour"
            class="image image4"
          /><img
            src="http://unsplash.it/400/400?image=459"
            alt="five"
            class="image image5"
          /><img
            src="http://unsplash.it/400/400?image=460"
            alt="six"
            class="image image6"
          /><img
            src="http://unsplash.it/400/400?image=461"
            alt="seven"
            class="image image7"
          /><img
            src="http://unsplash.it/400/400?image=477"
            alt="eight"
            class="image image8"
          /><img
            src="http://unsplash.it/400/400?image=473"
            alt="nine"
            class="image image9"
          /><img
            src="http://unsplash.it/400/400?image=478"
            alt="ten"
            class="image image10"
          /><img
            src="http://unsplash.it/400/400?image=472"
            alt="elaven"
            class="image image11"
          /><img
            src="http://unsplash.it/400/400?image=465"
            alt="twelve"
            class="image image12"
          />
          <!-- <img
              src="http://unsplash.it/400/400?image=466"
              alt="thirteen"
              class="image image13"
            /><img
              src="http://unsplash.it/400/400?image=467"
              alt="fourteen"
              class="image image14"
            /> -->
        </div>
      </div>
    </section>
  </body>
</html>
