<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home | page</title>

    <script
      src="https://kit.fontawesome.com/c046d5c77d.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="../styles/homePage.css" />
    <link rel="stylesheet" href="../styles/style.css" />
    <link rel="stylesheet" href="../styles/footer.css" />
    <script defer src="../app/app.js"></script>
  </head>
  <body>
    <section class="section" id="section--1">
      <div class="slider">
        <div class="slide slide1" data-image="0">
          <img src="http://unsplash.it/1980/1000?image=341" alt="first_image" />
        </div>
        <div class="slide slide2">
          <img
            src="http://unsplash.it/1980/1000?image=342"
            alt="second_image"
          />
        </div>
        <div class="slide slide3">
          <img src="http://unsplash.it/1980/1000?image=343" alt="third_image" />
        </div>
        <div class="slide slide4">
          <img src="http://unsplash.it/1980/1000?image=345" alt="forth_image" />
        </div>
        <button class="slide__btn btn__slide--left">
          <i class="fas fa-arrow-left slide_icon"></i>
        </button>
        <button class="slide__btn btn__slide--right">
          <i class="fas fa-arrow-right slide_icon"></i>
        </button>
        <div class="dots">
          <!-- <button class="dots__dot"></button> -->
        </div>
      </div>
    </section>
    <section class="section" id="section--2">
      <div class="main_content">
        <div class="title__container">
          <h2 class="title">Our Rooms</h2>
        </div>
        <div class="image__conatiner">
          <div class="sec__image__container">
            <img
              src="http://unsplash.it/1000/1000?image=541"
              alt="first_image"
              class="image"
            />
          </div>
          <div class="sec__image__container">
            <img
              src="http://unsplash.it/1000/1000?image=542"
              alt="first_image"
              class="image"
            />
          </div>
          <div class="sec__image__container">
            <img
              src="http://unsplash.it/1000/1000?image=543"
              alt="first_image"
              class="image"
            />
          </div>
          <div class="sec__image__container">
            <img
              src="http://unsplash.it/1000/1000?image=544"
              alt="first_image"
              class="image"
            />
          </div>
        </div>
      </div>
    </section>
    <section class="section flex" id="section--3">
      <h2 class="title">Our services</h2>
      <div class="card_container">
        <div class="card">
          <div class="icon">
            <i class="fas fa-parking icons"></i>
          </div>
          <h3 class="small_title">Free parking</h3>
          <p class="card_article">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Dignissimos, rem! Natus, deserunt dicta. Dolore explicabo sed iure
            saepe esse accusantium.
          </p>
        </div>
        <div class="card">
          <div class="icon">
            <i class="fas fa-spa icons"></i>
          </div>
          <h3 class="small_title">Free parking</h3>
          <p class="card_article">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Dignissimos, rem! Natus, deserunt dicta. Dolore explicabo sed iure
            saepe esse accusantium.
          </p>
        </div>
        <div class="card">
          <div class="icon">
            <i class="fas fa-tv icons"></i>
          </div>
          <h3 class="small_title">Free parking</h3>
          <p class="card_article">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Dignissimos, rem! Natus, deserunt dicta. Dolore explicabo sed iure
            saepe esse accusantium.
          </p>
        </div>
        <div class="card">
          <div class="icon">
            <i class="fas fa-music icons"></i>
          </div>
          <h3 class="small_title">Free parking</h3>
          <p class="card_article">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Dignissimos, rem! Natus, deserunt dicta. Dolore explicabo sed iure
            saepe esse accusantium.
          </p>
        </div>
      </div>
    </section>
    <footer>
      <ul>
        <li class="icons-list">
          <a href="#" class="links1">
            <i class="fab fa-facebook"></i>
          </a>
          <a href="#" class="links2">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="#" class="links3">
            <i class="fab fa-github"></i>
          </a>
        </li>
      </ul>
    </footer>
  </body>
</html>
