* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: poppins;
  padding: 3% 0%;
}
.table_container {
  width: 100%;
  min-width: 47rem;
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.table_title {
  margin-block-end: 1rem;
  text-transform: uppercase;
}
.table_color:nth-child(even) {
  background-color: rgb(196, 243, 119);
}
.table_color:nth-child(odd) {
  background-color: rgb(161, 163, 61);
}
table {
  background-color: rgb(236, 182, 182);
  padding: 1rem;
  border-radius: 0.5rem;
}
.font {
  /* font-size: clamp(0.8rem, 3vw, 1rem); */
  font-size: 0.7rem;
  text-transform: capitalize;
}
.table_header {
  color: rgb(0, 0, 0);
}
.table_header:nth-child(even) {
  background: rgb(112, 231, 195);
}
.table_header:nth-child(odd) {
  background: rgb(45, 211, 161);
  color: rgb(0, 0, 0);
}
.border {
  padding: 0.25rem;
  border: 1px solid black;
  /* padding: 0.25rem clamp(0.1rem, 10vw, 1.5rem); */
}
