* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* background-color: #556ffa; */

  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.body {
  background: linear-gradient(to right, #ee6666, #1e8f76);
  padding: 2rem 0rem;
}
img {
  display: block;
  width: 100%;
  margin: 0 auto;
}
.input_area {
  display: flex;
  gap: 1rem;
}
.form_section_flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.area_definer {
  max-width: 1140px;
  width: 90%;
}
.flex {
  width: 100%;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}
.flex_input {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.flex_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex_input input,
select {
  width: 100%;
  background: transparent;
  border: none;
  outline: 2px solid rgb(63, 177, 139);
  padding: 0.5rem 2rem;
}
.flex_input label {
  margin-block-end: 0.25rem;
  margin-block-start: 0.25rem;
  text-transform: capitalize;
}
.contact_info {
  /* background-color: #fff; */
  background: hsl(0 0% 100% / 0.3);
  backdrop-filter: blur(1rem);
  margin-block: 0.25rem;
  padding: 1rem;
}
::placeholder {
  padding: 0.5rem;
  color: rgb(219, 215, 215);
  text-transform: capitalize;
}

.form_container {
  /* border: 2px solid blue; */
}
.form_info {
  /* border: 2px solid rgb(24, 226, 75); */
  /* width: 35%; */
  /* padding: 2rem 2em; */
  background: rgb(69, 236, 153);
  width: 100%;
  max-width: 40rem;

  border-radius: 1rem;
  /* position: relative; */
}
.form_section {
  /* border: 2px solid rgb(216, 226, 70); */
  max-width: 90rem;
  /* width: 60%; */
  border-radius: 1rem;
  width: 100%;
  padding: 2rem 2em;
  background-color: rgb(69, 236, 153);
}
.image_container {
  width: 100%;
  height: 10rem;
  /* height: 10%; */
  /* border: 2px solid yellow; */
}
#checkin,
#checkout {
  padding: unset;
}
.image {
  height: 100%;
  /* position: absolute; */
  width: 100%;
  object-fit: cover;
  border-start-start-radius: 1rem;
  border-start-end-radius: 1rem;
}
/* !! Button styling */
.btn {
  border: none;
  outline: none;
  text-transform: uppercase;
  padding: 0.5rem 2.5rem;
  border-radius: 2rem;
  background-color: #fff;
  transition: all 300ms ease-in;
  cursor: pointer;
  font-weight: bold;
}
:is(.btn):hover,
:focus {
  background-color: rgb(216, 216, 216);
}
.button_container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0rem;
  margin-block-start: 1rem;
}
.contact_text {
  text-align: center;
  margin: 2rem;
}
#gender {
  padding-left: 1rem;
}
@media (min-width: 47rem) {
  .body {
    background: linear-gradient(
        to right,
        rgba(241, 188, 188, 0.4),
        rgba(212, 143, 143, 0.3)
      ),
      url(http://unsplash.it/1980/1000?image=569) center top;
  }
  .flex {
    flex-direction: row;
    /* justify-content: center; */
  }
  .input_area {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 1rem;
  }
  #checkin,
  #checkout {
    padding: 0.5rem 0.5rem;
  }
  .flex_info select {
    /* width: 100%; */
  }
  .flex_input input,
  select {
    /* padding: 0.5rem clamp(0.5rem, 5vw, 2rem); */
  }
  .form_section {
    padding: unset;
    width: 60%;
    padding: 2rem;
  }
  .area_definer {
  }
  .form_info {
    width: 45%;
  }
  .flex_input label {
    margin-block-end: 0.25rem;
    margin-block-start: 0rem;
  }
}
